/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
_____________common css start from here______________
 >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

 * {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: var(--Poppins-500);
}

:root {
    --Open-sans-500: 'Open Sans', sans-serif;
    --Poppins-500: 'Poppins', sans-serif;
    --Roboto-500: 'Roboto', sans-serif;
}

body {
    background-color: #FFFFFF;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
_____________common css end here______________
 >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
____________ Header css start from here _____________
 >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 90%;
    margin: 30px auto;
    background-color: #000f2c;
    color: #FFFFFF;
    border-radius: 30px;
    padding: 30px 60px 0px;
}

.half-container {
    width: 50%;
}

.header-title {
    font-size: 50px;
}

.header-discript {
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 50px;
}

.header-button {
    display: inline-block;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #ff4500;
    font-size: 16px;
    font-family: var(--Roboto-500);
    padding: 16px 25px;
    border-radius: 5px;
    transition: background-color 1s, color 1s;
}

.right-arrow {
    margin-left: 5px;
}

.header-button:hover {
    background-color: #FFFFFF;
    color: #ff4500;
}


.half-container img {
    width: 100%
}


@media screen and (min-width: 1025px) and (max-width: 1200px) {
    header {
        padding: 30px 50px 0px;
    }

    .header-title {
        font-size: 40px;
    }

    .header-discript {
        font-size: 14px;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .header-button {
        font-size: 14px;
        padding: 14px 23px;
    }
}

@media screen and (min-width: 993px) and (max-width: 1024px) {
    header {
        padding: 30px 30px 0px;
    }

    .header-title {
        font-size: 35px;
    }

    .header-discript {
        font-size: 13px;
        margin-top: 17px;
        margin-bottom: 35px;
    }

    .header-button {
        font-size: 13px;
        padding: 12px 20px;
    }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
    header {
        padding: 30px 20px 0px;
        margin: 20px auto;
    }

    .header-title {
        font-size: 30px;
    }

    .header-discript {
        font-size: 10px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .header-button {
        padding: 8px 14px;
        font-size: 10px;
    }
}

@media screen and (min-width: 425px) and (max-width: 576px) {
    header {
        flex-direction: column;
        text-align: center;
        padding: 30px 30px 0px;
    }

    .half-container {
        width: 90%;
    }

    .half-container:first-child {
        margin-bottom: 20px;
    }

    .header-title {
        font-size: 25px;
    }

    .header-discript {
        font-size: 10px;
        margin-top: 10px;
        margin-bottom: 15px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .header-button {
        padding: 5px 12px;
        font-size: 10px;
    }
}

@media screen and (min-width: 241px) and (max-width: 425px) {
    header {
        flex-direction: column;
        text-align: center;
        padding: 30px 20px 0px;
    }

    .half-container {
        width: 90%;
    }

    .half-container:first-child {
        margin-bottom: 20px;
    }

    .header-title {
        font-size: 15px;
    }

    .header-discript {
        font-size: 8px;
        margin-top: 10px;
        margin-bottom: 15px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .header-button {
        padding: 5px 12px;
        font-size: 8px;
    }
}

@media screen and (max-width: 240px) {
    header {
        flex-direction: column;
        text-align: center;
        padding: 30px 20px 0px;
    }

    .half-container {
        width: 90%;
    }

    .half-container:first-child {
        margin-bottom: 20px;
    }

    .header-title {
        font-size: 13px;
    }

    .header-discript {
        font-size: 7px;
        margin-top: 10px;
        margin-bottom: 15px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .header-button {
        padding: 5px 12px;
        font-size: 7px;
    }
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
____________ Header css End here _____________
 >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
____________ main-section css start from here _____________
 >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* menu-section start from here */

.main-section {
    width: 90%;
    margin: 50px auto;
    display: flex;
}

.menu {
    height: 312px;
    width: 312px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #000f2c;
    padding: 30px;
    border-radius: 10px;
    margin-right: 20px;
}

.menu-items {
    list-style: none;
}

.menu-links {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    width: 200px;
    font-size: 20px;
    padding: 15px 0px;
    background-color: #FFFFFF;
    color: black;
    border-radius: 5px;
}

#active {
    background-color: #ff4500;
    color: white;
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .menu {
        height: 250px;
        width: 250px;
    }

    .menu-links {
        font-size: 17px;
        width: 200px;
        padding: 12px 0px;
    }
}

@media screen and (min-width: 993px) and (max-width: 1024px) {
    .menu {
        height: 180px;
        width: 180px;
        padding: 20px;
    }

    .menu-links {
        display: inline-block;
        font-size: 15px;
        width: 150px;
        padding: 7px 0px;
    }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
    .main-section {
        flex-direction: column;
    }

    .menu {
        height: 100px;
        width: 100%;
        padding: 15px;
        margin: 20px 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #ffffff;
    }

    .menu-links {
        width: 150px;
        font-size: 15px;
        padding: 15px 0px;
        background-color: #FFFFFF;
        color: black;
        border: 1px solid rgba(232, 232, 232, 1);
        border-radius: 5px;
    }
}

@media screen and (max-width: 576px) {
    .main-section {
        flex-direction: column;
    }

    .menu {
        height: 180px;
        width: 180px;
        padding: 15px;
        margin: 20px auto;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: #ffffff;
    }

    .menu-links {
        width: 150px;
        font-size: 10px;
        padding: 10px 0px;
        background-color: #FFFFFF;
        color: black;
        border: 1px solid rgba(232, 232, 232, 1);
        border-radius: 5px;
    }
}

/* menu Section End */



/* Blog section start */

.upcoming-section {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.upcoming {
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #E8E8E8;
}

.upcoming-image{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
}
.upcoming-image img{
    width: 35%;
}

.upcoming-details {
    padding: 20px;
}


.upcoming-details h3 {
    text-align: center;
    font-size: 18px;
    margin: 20px 0px;
}
.upcoming-details p {
    text-align: center;
    color: rgba(77, 77, 77, 1);
    font-size: 15px;
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {

    .upcoming-details h3 {
        font-size: 15px;
        margin: 20px 0px;
    }
}

@media screen and (min-width: 993px) and (max-width: 1024px) {

    .upcoming-details h3 {
        font-size: 15px;
        margin: 20px 0px;
    }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
    .upcoming-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
}

@media screen and (min-width: 261px) and (max-width: 576px) {
    .upcoming-section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }
}

@media screen and (max-width: 260px) {

    .upcoming-section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }

    .upcoming-details h3 {
        font-size: 12px;
    }
}

/* Blog Section End */

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
____________ main-section css End here _____________
 >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */





/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
____________ Footer-section css Start from here _____________
 >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


footer {
    width: 100%;
    background-color: black;
    color: white;
}

.footer-section {
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 50px 0px;
}

.footer-title {
    font-size: 40px;
    margin-bottom: 50px;
}

.footer-section hr {
    background-color: #DFDFDF;
    border: 1px solid #DFDFDF;
}

.footer-menu {
    margin: 50px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-menu-items {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 15px;
    list-style: none;
    font-size: 15px;
    padding: 7px 15px;
}

.social-icon {
    text-align: center;
}

.social-icon a {
    color: white;
    font-size: 30px;
    margin: 0px 20px;
}

@media screen and (min-width: 301px) and (max-width: 576px) {
    .footer-menu {
        margin: 50px 0px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
    }
}

@media screen and (max-width: 300px) {
    .footer-menu {
        margin: 50px 0px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .social-icon a {
        color: white;
        font-size: 20px;
        margin: 0px 10px;
    }
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
____________ Footer-section css end here _____________
 >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
____________ Upcoming-match-section css Start from here _____________
 >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */